{#
SPDX-FileCopyrightText: 2023 Slavi Pantaleev
SPDX-FileCopyrightText: 2024 Nikita Chernyi
SPDX-FileCopyrightText: 2025 Suguru Hirahara

SPDX-License-Identifier: AGPL-3.0-or-later
#}

[Unit]
Description=Browserless API ({{ browserless_identifier }})
{% for service in browserless_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
{% for service in browserless_systemd_wanted_services_list %}
Wants={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ devture_systemd_docker_base_systemd_unit_home_path }}"
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ browserless_identifier }} 2>/dev/null || true'
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ browserless_identifier }} 2>/dev/null || true'

{#
  PUID and PGID are specified on env.j2 to run the container as browserless_uid:browserless_gid
#}
ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} create \
      --rm \
      --name={{ browserless_identifier }} \
      --log-driver=none \
      --cap-drop=ALL \
      --cap-add=CAP_DAC_OVERRIDE \
      --cap-add=CHOWN \
      --cap-add=SETUID \
      --cap-add=SETGID \
      --network={{ browserless_container_network }} \
      {% if browserless_container_http_host_bind_port %}
      -p {{ browserless_container_http_host_bind_port }}:{{ browserless_container_http_port }} \
      {% endif %}
      --env-file={{ browserless_base_path }}/env \
      --label-file={{ browserless_base_path }}/labels \
      --mount type=bind,src={{ browserless_attach_path }},dst=/attach \
      --mount type=bind,src={{ browserless_config_path }},dst=/config \
      --mount type=bind,src={{ browserless_plugin_path }},dst=/plugin \
      {% for arg in browserless_container_extra_arguments %}
      {{ arg }} \
      {% endfor %}
      {{ browserless_container_image_self_build_name if browserless_container_image_self_build else browserless_container_image }}

{% for network in browserless_container_additional_networks %}
ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} network connect {{ network }} {{ browserless_identifier }}
{% endfor %}

ExecStart={{ devture_systemd_docker_base_host_command_docker }} start --attach {{ browserless_identifier }}

ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ browserless_identifier }} 2>/dev/null || true'
ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ browserless_identifier }} 2>/dev/null || true'

Restart=always
RestartSec=30
SyslogIdentifier={{ browserless_identifier }}

[Install]
WantedBy=multi-user.target
